:root {
  --white: hsl(0, 100%, 99%);
  --gray: hsla(271, 20%, 80%, .3);
  --dark-gray: hsla(271, 20%, 30%, .5);
  --focused-dark-gray: hsl(0, 0%, 10%);
  --light-blue: hsl(271, 100%, 40%);
  --dark-blue: hsl(271, 100%, 15%);
  --principal-font: 'Montserrat', sans-serif;
  --secondary-font: 'Lora', serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.principal-logo {
  width: 120px;
}

main {
  background-color: var(--white);
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.header-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-form .seller-wrapper {
  min-width: 280px;
}

h1, h2 {
  font-family: var(--principal-font);
  color: var(--dark-blue);
  font-size: 2rem;
}

h3, .product-price {
  color: var(--light-blue);
}

p {
  font-family: var(--secondary-font);
  font-weight: 500;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 340px;
  gap: 25px;
}

.form-data-wrapper, .full-select {
  min-height: 60px;
  max-width: 335px;
  width: 100%;
  font-size: 1.2rem;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--gray);
}

.full-select {
  padding-right: 50px;
}

.form-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-data-wrapper label {
  width: 100%;
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  color: var(--dark-blue);
  opacity: 0.8;
}

.form-data-wrapper > input, .double-input-wrapper > input, .double-input-wrapper > select { 
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  background-color: transparent;
}

.form-data-wrapper input:focus {
  outline: none;
  border-color: var(--focused-dark-gray);
}

.double-input-wrapper {
  display: grid;
  width: 100%;
  gap: 10px;
}

.phone-wrapper .double-input-wrapper {
  grid-template-columns: 65px 1fr;
}

.identification-wrapper .double-input-wrapper {
  grid-template-columns: 40px 1fr;
}

.double-input-wrapper input:last-child {
  width: 100%;
}

input::placeholder {
  opacity: 0.9
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-image: url('../assets/arrow-double-down.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 90% center;
}

select, input {
  font-family: var(--secondary-font);
  color: var(--focused-dark-gray);
  font-weight: 500;
}

.double-input-wrapper > select {
  background-size: 12px;
  padding: 5px 5px;
}

button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 1.3rem;
  padding: 13px 20px;
  font-family: var(--principal-font);
  max-width: 250px;
  width: 200px;
}

.add-button {
  margin: 0 auto;
}

abbr.listed-product {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed #333333;
  padding: 2px 0px;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  border-radius: 20px;
  padding: 20px;
  gap: 30px;
  background-color: var(--gray);
}

.summary h2 {
  font-size: 1.6rem;
  font-family: var(--principal-font);
}

.summary > ol {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  gap: 12px;
  list-style: decimal;
  list-style-position: inside;
}

.summary > ol > li {
  position: relative;
  font-family: var(--secondary-font);
  padding-right: 30px;
  line-height: 1.7rem;
}

.order-product-info {
  display: inline;
}

.trash-icon {
  position: absolute;
  width: 23px;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
}

.summary footer h3 {
  font-size: 1.4rem;
}

.summary button {
  align-self: center;
}

abbr[title] {
  position: relative;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  
  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;
  
  /* style tooltip */
  background-color: var(--focused-dark-gray);
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: .8rem;
  padding: 3px 5px;
}

.toggle-existence-section {
  width: 100%;
  max-width: 335px;
}

.toggle {
  position: relative;
  border-radius: 50px;
  aspect-ratio: 2 / 1.1;
  border: 2px solid transparent;
  width: 70px;
}

.toggle input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.toggle-item {
  display: inline-block;
  position: absolute;
  width: 45%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out;
  background-color: var(--white);
}

.toggle input:checked + .toggle-item {
  transform: translate(100%, -50%);
}

.toggle-message {
  position: absolute;
  white-space: nowrap;
  color: var(--dark-gray);
  font-family: var(--principal-font);
  font-size: 1.1rem;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

.toggle input:checked ~ .toggle-message {
  color: var(--light-blue);  
}

.off-color {
  background-color: var(--dark-gray);
}

.on-color {
  background-color: var(--light-blue);
}

.displayNone {
  display: none;
}