:root {
  --white: hsl(0, 100%, 99%);
  --gray: hsla(271, 20%, 80%, .3);
  --dark-gray: hsla(271, 20%, 30%, .5);
  --focused-dark-gray: hsl(0, 0%, 10%);
  --light-blue: hsl(271, 100%, 40%);
  --dark-blue: hsl(271, 100%, 15%);
  --principal-font: 'Montserrat', sans-serif;
  --secondary-font: 'Lora', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main {
  background-color: var(--white);
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

h1, h2 {
  font-family: var(--principal-font);
  color: var(--dark-blue);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-data-wrapper, .full-select {
  font-size: 1.2rem;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--gray);
}

.form-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-data-wrapper label {
  width: 100%;
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  color: var(--dark-blue);
  opacity: 0.8;
}

.form-data-wrapper > input, .double-input-wrapper > input, .double-input-wrapper > select { 
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  background-color: transparent;
}

.form-data-wrapper input:focus {
  outline: none;
  border-color: var(--focused-dark-gray);
}

.double-input-wrapper {
  display: grid;
  width: 100%;
  gap: 10px;
}

.phone-wrapper .double-input-wrapper {
  grid-template-columns: 65px 1fr;
}

.identification-wrapper .double-input-wrapper {
  grid-template-columns: 40px 1fr;
}

.double-input-wrapper input:last-child {
  width: 100%;
}

.form-client-data {
  margin: 40px 0;
} 

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-image: url('/assets/arrow-double-down.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 90% center;
}

select, input {
  font-family: var(--secondary-font);
  color: var(--focused-dark-gray);
  font-weight: 500;
}

.double-input-wrapper > select {
  background-size: 12px;
  padding: 5px 5px;
}

button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 1.3rem;
  padding: 15px 20px;
  font-family: var(--principal-font);
}